@{
    ViewData["Title"] = "Товары";
}

@model List<NttTest.ViewModels.ProductViewModel>?

@if (@Model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Цена</td>
                <td>Количество</td>
                <td>Категория</td>
                <td>Действия</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@item.Category</td>
                <td>
                    <a asp-action="AddOrUpdateProduct" asp-route-productId="@item.Id">Редактировать</a>
                    <a asp-action="DeleteProduct" asp-route-productId="@item.Id" class="link-danger">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table> 
}
else
{
    <div>Пусто</div>
}
<div class="text-end">
    <a class="nav-link" asp-controller="Home" asp-action="AddOrUpdateProduct">Добавить товар</a>
</div>
